body {
    background-image: url('Desktop/NSIbackround.jpg');
    background-color: darkslategray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
    color: whitesmoke;
}

h3, h4{
    color: wheat;
}

h2 {
    color: orangered
}

p, li{
    color: snow;
}

a:link {
    color:aqua;
}
a:visited {
    color: palevioletred;
}

h1, h2, h3, h4, h5{
    text-align: center;
}
